
.modal.fade{ id: "new_modal_#{day.strftime("%Y_%m_%d")}" }
  .modal-dialog
    .modal-content
      = form_for schedule, url: organization_schedules_path(organization), html: { class: 'form-horizontal', role: 'form' } do |f|
        .modal-header
          %h4.modal-title New Schedule
        .modal-body
          = render partial: '/schedules/form_modal', locals: { f: f, day: day, organization: organization }
        .modal-footer
          %button.btn.btn-default{ data: { dismiss: 'modal' }, type: 'button' } Close
          = f.submit 'Save', data: { disable_with: 'Save' }, class: 'btn btn-primary'
