%h2 Organizations

-# %form.form-horizontal
= form_for @organization do |f|
  %fieldset
    .form-group
      %label.col-lg-2.control-label{:for => "inputEmail"} Name
      .col-lg-10
        -# %input#inputEmail.form-control{:placeholder => "Email", :type => "text"}/
        = f.text_field :name, class: 'form-control'


%br

%table.table.table-striped.table-hover
  %tbody
    %tr
      %th Name
    - @organizations.each do |organization|
      %tr
        %td= organization.name
    %tr
      %td 2
      %td Column content
      %td Column content
      %td Column content
    %tr
      %td 3
      %td Column content
      %td Column content
      %td Column content
    %tr
      %td 4
      %td Column content
      %td Column content
      %td Column content

%table.table.table-striped.table-hover
  %thead
    %tr
      %th #
      %th Column heading
      %th Column heading
      %th Column heading
  %tbody
    %tr
      %td 1
      %td Column content
      %td Column content
      %td Column content
    %tr
      %td 2
      %td Column content
      %td Column content
      %td Column content
    %tr.info
      %td 3
      %td Column content
      %td Column content
      %td Column content
    %tr.success
      %td 4
      %td Column content
      %td Column content
      %td Column content
    %tr.danger
      %td 5
      %td Column content
      %td Column content
      %td Column content
    %tr.warning
      %td 6
      %td Column content
      %td Column content
      %td Column content
    %tr.active
      %td 7
      %td Column content
      %td Column content
      %td Column content
